/* You can add global styles to this file, and also import other style files */
body {
    font-family: monospace;
}
.center {
    justify-content: center;
    align-items: center;
    display: flex;
}
.general-button {
    background: #3b273b;
    color: white;
    padding: 5px 20px;
    border-radius: 5px;
    &:hover {
        background-color: #241424;
    }
    &:disabled {
        opacity: 0.5;
    }
}

.cut-text {
    text-overflow: ellipsis;
    overflow: hidden; 
    white-space: nowrap;
}
.users-page {
    max-width: 800px;
    margin: 0 auto;
    .users-title {
        font-size: 20px;
        font-weight: bold;
        text-align: center;
    }
}
.error {
    color: red;
}